.login-wrap {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.login-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.login-title {
  width: 100%;
  text-align: center;
  font-family: Noto Sans SC;
  font-size: 24px;
  font-weight: 700;
  color: #009eff;
}

.login-form-warp {
  margin-top: 20px;
}

.item-wrap {
  display: flex;
  margin-bottom: 5px;
}

.item-wrap input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  height: 40px;
  padding: 0 0 0 14px;
}

.send-code {
  font-size: 12px;
  flex-shrink: 0;
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.private-wrap {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.server-config {
  margin-top: 10px;
  text-align: center;
}

.label {
  display: flex;
}

.easeim-btn {
  background-color: #479ff8;
}